<!DOCTYPE html>
<html lang="en">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Penyakit Jantung</title>
</head>
<body>
    <div class="container contact-form">
        <div class="contact-image">
            <img src="static/jantung.png"/>
        </div>
        <form method="post">
           <div class="row">
                <div class="col-md-12">
                    <div class="container-contact100">
                        <div class="wrap-contact100">
                            <form class="contact100-form validate-form" action="/" method="GET">
                                {% if finalData == 1 %}
                                <span class="contact100-form-title text-center mt-5">
                                    <h3 class="text-center pt-5">POSITIF PENYAKIT JANTUNG</h3>
                                </span>

                                {% else %}
                                <span class="contact100-form-title text-center mt-5">
                                    <h3 class="text-center pt-5">NEGATIF PENYAKIT JANTUNG</h3>
                                </span>

                                {% endif %}
                                <div class="form-group text-center mt-3 pt-3">
                                </div>
                            </form>
                        </div>
                    </div>                
                </div>
            </div>
        </form>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>